## Clean Up Individual Player Data Set for year 2017-18

In [1]:
import pandas as pd

pd.set_option('display.width', 500)
pd.set_option('display.max_columns', 100)

In [2]:
def clean_df(df):
    df = df.drop(labels = ['Unnamed: 19', 'Unnamed: 24'], axis = 1)
    df['VORP'] = df['VORP\\'].str.replace("\\", '')
    df.drop(labels = ['VORP\\'], axis = 1, inplace = True)
    
    # edit Player column, split string on \\, expand into two columns and drop second column that doesn't contain name
    a = df['Player'].str.split('\\', n = 1, expand = True)
    player_list = a.drop(1, axis = 1)
    df_copy = df.copy()
    
    # replace name columns with updated list player's name
    df_copy['Player'] = player_list
    df['Player'] = df_copy['Player']
    
    # drop 'Rk' column
    df.drop('Rk', axis = 1, inplace = True)
    
    return df

In [3]:
import pandas as pd

df = pd.read_csv('Data/advanced_player_stats_1718.csv')

In [4]:
df_1718 = clean_df(df)

df_1718.head(5)

          Player Pos   Age   Tm     G      MP   PER    TS%   3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0   Alex Abrines  SG  24.0  OKC  75.0  1134.0   9.0  0.567  0.759  0.158   2.5   8.9   5.6   3.4   1.7   0.6   7.4  12.7  1.3  1.0  2.2  0.094  -0.5  -1.7 -2.2  -0.1
1     Quincy Acy  PF  27.0  BRK  70.0  1359.0   8.2  0.525  0.800  0.164   3.1  17.1  10.0   6.0   1.2   1.6  13.3  14.4 -0.1  1.1  1.0  0.036  -2.0  -0.2 -2.2  -0.1
2   Steven Adams   C  24.0  OKC  76.0  2487.0  20.6  0.630  0.003  0.402  16.6  13.9  15.3   5.5   1.8   2.8  13.3  16.7  6.7  3.0  9.7  0.187   2.2   1.1  3.3   3.3
3    Bam Adebayo   C  20.0  MIA  69.0  1368.0  15.7  0.570  0.021  0.526   9.7  21.6  15.6  11.0   1.2   2.5  13.6  15.9  2.3  1.9  4.2  0.148  -1.6   1.8  0.2   0.8
4  Arron Afflalo  SG  32.0  ORL  53.0   682.0   5.8  0.516  0.432  0.160   0.6  10.1   5.3   6.2   0.3   1.1  10.8  12.5 -0.1  0.2  0.1  0.009  -4.1  -1.8 -5.8  -0.7

In [5]:
# check for dupilcate entries (because some players played for more than one team during the season)
player_dup_bool = df_1718.duplicated(subset = 'Player')

In [6]:
df_1718[player_dup_bool]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, MP, PER, TS%, 3PAr, FTr, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, OWS, DWS, WS, WS/48, OBPM, DBPM, BPM, VORP]
Index: []

In [7]:
df_1718[df_1718.isnull().any(axis=1)]

                  Player  Pos   Age   Tm    G   MP  PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM VORP
306          Tyler Lydon   PF  21.0  DEN  1.0  2.0  0.0  NaN   NaN  NaN   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0  0.0  0.0  0.0 -0.014  -5.7  -0.8 -6.5  0.0
328  Trey McKinney-Jones   SG  27.0  IND  1.0  1.0  0.0  NaN   NaN  NaN   0.0   0.0   0.0   0.0   0.0   0.0   NaN   0.0  0.0  0.0  0.0 -0.001  -5.8  -0.1 -5.9  0.0
347            Ben Moore   PF  22.0  IND  2.0  9.0 -2.3  NaN   NaN  NaN   0.0  12.5   6.3  13.1   0.0   0.0   NaN   0.0  0.0  0.0  0.0  0.072  -5.3   0.3 -5.0  0.0
540                  NaN  NaN   NaN  NaN  NaN  NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN  NaN  NaN

In [8]:
drop_list = [306, 328, 347, 540]
df_1718.drop(df_1718.index[drop_list], inplace = True)

In [9]:
df_1718.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [10]:
df_1718.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 537 entries, 0 to 539
Data columns (total 26 columns):
Player    537 non-null object
Pos       537 non-null object
Age       537 non-null float64
Tm        537 non-null object
G         537 non-null float64
MP        537 non-null float64
PER       537 non-null float64
TS%       537 non-null float64
3PAr      537 non-null float64
FTr       537 non-null float64
ORB%      537 non-null float64
DRB%      537 non-null float64
TRB%      537 non-null float64
AST%      537 non-null float64
STL%      537 non-null float64
BLK%      537 non-null float64
TOV%      537 non-null float64
USG%      537 non-null float64
OWS       537 non-null float64
DWS       537 non-null float64
WS        537 non-null float64
WS/48     537 non-null float64
OBPM      537 non-null float64
DBPM      537 non-null float64
BPM       537 non-null float64
VORP      537 non-null object
dtypes: float64(22), object(4)
memory usage: 113.3+ KB

## Clean Up Individual Player Data Set for year 2016-17

In [11]:
df = pd.read_csv('Data/advanced_player_stats_1617.csv')

In [12]:
df_1617 = clean_df(df)

df_1617.head(5)

          Player Pos   Age   Tm     G      MP   PER    TS%   3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0   Alex Abrines  SG  23.0  OKC  68.0  1055.0  10.1  0.560  0.724  0.144   1.9   7.1   4.5   5.5   1.7   0.6   8.3  15.9  1.2  0.9  2.1  0.096  -0.3  -2.2 -2.5  -0.1
1     Quincy Acy  PF  26.0  TOT  38.0   558.0  11.8  0.565  0.529  0.353   3.9  18.0  11.0   4.9   1.2   2.0   9.7  16.8  0.5  0.5  0.9  0.082  -1.8  -1.2 -3.0  -0.1
2   Steven Adams   C  23.0  OKC  80.0  2389.0  16.5  0.589  0.002  0.392  13.0  15.4  14.2   5.4   1.8   2.6  16.0  16.2  3.3  3.1  6.5  0.130  -0.7   1.2  0.6   1.5
3  Arron Afflalo  SG  31.0  SAC  61.0  1580.0   8.9  0.559  0.360  0.221   0.7   8.4   4.6   7.4   0.7   0.3   8.4  14.4  1.2  0.2  1.4  0.043  -1.4  -2.1 -3.5  -0.6
4  Alexis Ajinca   C  28.0  NOP  39.0   584.0  12.9  0.529  0.022  0.225   8.3  23.8  16.0   3.1   1.7   3.1  13.7  17.2  0.0  0.9  1.0  0.080  -5.1   1.0 -4.1  -0.3

In [13]:
# check for dupilcate entries (because some players played for more than one team during the season)
player_dup_bool = df_1617.duplicated(subset = 'Player')

In [14]:
df_1617[player_dup_bool]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, MP, PER, TS%, 3PAr, FTr, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, OWS, DWS, WS, WS/48, OBPM, DBPM, BPM, VORP]
Index: []

In [16]:
# check for null values
df_1617[df_1617.isnull().any(axis=1)]

           Player  Pos   Age   Tm    G   MP   PER  TS%  3PAr  FTr  ORB%   DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM   BPM VORP
203  Danuel House   SG  23.0  WAS  1.0  1.0  12.2  NaN   NaN  NaN   0.0  100.0  56.4   0.0   0.0   0.0   NaN   0.0  0.0  0.0  0.0  0.163 -16.4  -4.4 -20.8  0.0
486           NaN  NaN   NaN  NaN  NaN  NaN   NaN  NaN   NaN  NaN   NaN    NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN   NaN  NaN

In [17]:
drop_list = [203, 486]
df_1617.drop(df_1617.index[drop_list], inplace = True)

In [18]:
df_1617.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [19]:
df_1617.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 485 entries, 0 to 485
Data columns (total 26 columns):
Player    485 non-null object
Pos       485 non-null object
Age       485 non-null float64
Tm        485 non-null object
G         485 non-null float64
MP        485 non-null float64
PER       485 non-null float64
TS%       485 non-null float64
3PAr      485 non-null float64
FTr       485 non-null float64
ORB%      485 non-null float64
DRB%      485 non-null float64
TRB%      485 non-null float64
AST%      485 non-null float64
STL%      485 non-null float64
BLK%      485 non-null float64
TOV%      485 non-null float64
USG%      485 non-null float64
OWS       485 non-null float64
DWS       485 non-null float64
WS        485 non-null float64
WS/48     485 non-null float64
OBPM      485 non-null float64
DBPM      485 non-null float64
BPM       485 non-null float64
VORP      485 non-null object
dtypes: float64(22), object(4)
memory usage: 102.3+ KB

## Clean Up Individual Player Data Set for year 2015-2016

In [20]:
df = pd.read_csv('Data/advanced_player_stats_1516.csv')

In [21]:
df_1516 = clean_df(df)

df_1516.head(5)

          Player Pos   Age   Tm     G      MP   PER    TS%   3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0     Quincy Acy  PF  25.0  SAC  59.0   876.0  14.7  0.629  0.229  0.318   8.1  15.1  11.6   4.4   1.6   2.2  10.0  13.1  1.8  0.7  2.5  0.137   0.2   0.0  0.2   0.5
1   Jordan Adams  SG  21.0  MEM   2.0    15.0  17.3  0.427  0.167  0.833   0.0  15.9   7.6  31.9  10.3   0.0  19.6  30.5  0.0  0.0  0.0  0.015  -2.9   4.8  1.9   0.0
2   Steven Adams   C  22.0  OKC  80.0  2014.0  15.5  0.621  0.000  0.460  12.5  16.1  14.4   4.3   1.0   3.3  14.1  12.6  4.2  2.3  6.5  0.155   0.8   1.3  2.1   2.1
3  Arron Afflalo  SG  30.0  NYK  71.0  2371.0  10.9  0.531  0.298  0.164   1.1  11.0   6.1   9.9   0.5   0.3   8.7  17.9  1.8  0.9  2.7  0.055  -0.6  -1.8 -2.4  -0.2
4  Alexis Ajinca   C  27.0  NOP  59.0   861.0  13.8  0.514  0.003  0.197   9.3  25.9  17.3   5.8   1.1   3.4  13.6  20.4  0.2  0.9  1.0  0.058  -4.3  -0.2 -4.5  -0.5

In [22]:
# check for dupilcate entries 
player_dup_bool = df_1516.duplicated(subset = 'Player')

In [23]:
df_1516[player_dup_bool]

Empty DataFrame
Columns: [Player, Pos, Age, Tm, G, MP, PER, TS%, 3PAr, FTr, ORB%, DRB%, TRB%, AST%, STL%, BLK%, TOV%, USG%, OWS, DWS, WS, WS/48, OBPM, DBPM, BPM, VORP]
Index: []

In [24]:
# check for null values
df_1516[df_1516.isnull().any(axis=1)]

         Player  Pos   Age   Tm    G   MP   PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM VORP
111  Sam Dekker   PF  21.0  HOU  3.0  6.0  10.8  NaN   NaN  NaN   0.0  18.5   9.2   0.0   8.2   0.0   NaN   0.0  0.0  0.0  0.0  0.116  -5.3   5.8  0.5  0.0
476         NaN  NaN   NaN  NaN  NaN  NaN   NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN  NaN  NaN

In [25]:
df_1516.drop(df_1516.index[[111, 476]], inplace = True)

In [26]:
df_1516.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [27]:
df_1516.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 475 entries, 0 to 475
Data columns (total 26 columns):
Player    475 non-null object
Pos       475 non-null object
Age       475 non-null float64
Tm        475 non-null object
G         475 non-null float64
MP        475 non-null float64
PER       475 non-null float64
TS%       475 non-null float64
3PAr      475 non-null float64
FTr       475 non-null float64
ORB%      475 non-null float64
DRB%      475 non-null float64
TRB%      475 non-null float64
AST%      475 non-null float64
STL%      475 non-null float64
BLK%      475 non-null float64
TOV%      475 non-null float64
USG%      475 non-null float64
OWS       475 non-null float64
DWS       475 non-null float64
WS        475 non-null float64
WS/48     475 non-null float64
OBPM      475 non-null float64
DBPM      475 non-null float64
BPM       475 non-null float64
VORP      475 non-null object
dtypes: float64(22), object(4)
memory usage: 100.2+ KB

## Clean Up Individual Player Data Set for year 2014-2015

In [28]:
df = pd.read_csv('Data/advanced_player_stats_1415.csv')

In [29]:
df_1415 = clean_df(df)

df_1415.head(5)

          Player Pos   Age   Tm     G      MP   PER    TS%   3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0     Quincy Acy  PF  24.0  NYK  68.0  1287.0  11.9  0.533  0.181  0.293   6.9  20.5  13.5   8.7   1.1   1.4  13.8  15.5  1.0  0.7  1.7  0.063  -2.3  -0.8 -3.1  -0.3
1   Jordan Adams  SG  20.0  MEM  30.0   248.0  12.8  0.489  0.291  0.267   4.2   8.7   6.4  10.1   3.4   2.3  12.7  20.4  0.0  0.4  0.4  0.073  -1.8   1.2 -0.6   0.1
2   Steven Adams   C  21.0  OKC  70.0  1771.0  14.1  0.549  0.005  0.514  12.2  19.3  15.8   5.5   1.1   3.8  16.8  14.3  1.9  2.2  4.1  0.111  -1.4   1.8  0.4   1.1
3    Jeff Adrien  PF  28.0  MIN  17.0   215.0  14.2  0.494  0.000  0.864  11.9  29.6  20.5  10.5   0.9   3.3  12.9  14.3  0.2  0.2  0.4  0.087  -2.7   0.5 -2.2   0.0
4  Arron Afflalo  SG  29.0  TOT  78.0  2502.0  10.7  0.533  0.377  0.224   1.1   9.7   5.3   8.2   0.8   0.2  10.7  19.0  1.6  1.0  2.6  0.050  -0.5  -1.3 -1.8   0.1

In [33]:
# check for dupilcate entries 
player_dup_bool = df_1415.duplicated(subset = 'Player')

In [34]:
df_1415[player_dup_bool]

    Player  Pos  Age   Tm   G  MP  PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS  WS  WS/48  OBPM  DBPM  BPM VORP
493    NaN  NaN  NaN  NaN NaN NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN  NaN NaN    NaN   NaN   NaN  NaN  NaN
494    NaN  NaN  NaN  NaN NaN NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN   NaN  NaN  NaN NaN    NaN   NaN   NaN  NaN  NaN

In [35]:
# check for null values
df_1415[df_1415.isnull().any(axis=1)]

               Player  Pos   Age   Tm    G    MP  PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%   TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM   BPM VORP
43   Jerrelle Benimon   PF  23.0  UTA  2.0   3.0  4.7  NaN   NaN  NaN  38.7  76.6  57.8   0.0   0.0   0.0  100.0  15.3  0.0  0.0  0.0 -0.215 -20.3  -6.6 -26.9  0.0
446      Ronny Turiaf    C  32.0  MIN  2.0  19.0  4.3  NaN   NaN  NaN   0.0   6.2   3.0  14.0   0.0   0.0    NaN   0.0  0.0  0.0  0.0  0.009  -5.6  -2.1  -7.7  0.0
492               NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN   NaN  NaN
493               NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN   NaN  NaN
494               NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN   NaN  NaN

In [36]:
df_1415.drop(df_1415.index[[43, 446, 492, 493, 494]], inplace = True)

In [38]:
df_1415.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [39]:
df_1415.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 490 entries, 0 to 491
Data columns (total 26 columns):
Player    490 non-null object
Pos       490 non-null object
Age       490 non-null float64
Tm        490 non-null object
G         490 non-null float64
MP        490 non-null float64
PER       490 non-null float64
TS%       490 non-null float64
3PAr      490 non-null float64
FTr       490 non-null float64
ORB%      490 non-null float64
DRB%      490 non-null float64
TRB%      490 non-null float64
AST%      490 non-null float64
STL%      490 non-null float64
BLK%      490 non-null float64
TOV%      490 non-null float64
USG%      490 non-null float64
OWS       490 non-null float64
DWS       490 non-null float64
WS        490 non-null float64
WS/48     490 non-null float64
OBPM      490 non-null float64
DBPM      490 non-null float64
BPM       490 non-null float64
VORP      490 non-null object
dtypes: float64(22), object(4)
memory usage: 103.4+ KB

## Clean Up Individual Player Data Set for year 2013-2014

In [40]:
df = pd.read_csv('Data/advanced_player_stats_1314.csv')

In [41]:
df_1314 = clean_df(df)

df_1314.head(5)

          Player Pos   Age   Tm     G      MP   PER    TS%   3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM VORP
0     Quincy Acy  SF  23.0  TOT  63.0   847.0  10.1  0.520  0.106  0.376   9.5  19.5  14.4   4.9   1.4   2.5  15.4  10.1  0.6  0.9  1.5  0.086  -2.5   1.4 -1.1  0.2
1   Steven Adams   C  20.0  OKC  81.0  1197.0  11.2  0.541  0.000  0.735  14.1  17.1  15.6   4.9   1.7   3.9  22.5  11.7  0.9  1.9  2.9  0.114  -2.1   2.4  0.3  0.7
2    Jeff Adrien  PF  27.0  TOT  53.0   961.0  17.4  0.553  0.000  0.433  11.8  24.8  18.2   6.8   1.3   3.0  10.6  17.3  1.6  1.1  2.7  0.134  -1.4   0.3 -1.1  0.2
3  Arron Afflalo  SG  28.0  ORL  73.0  2552.0  16.0  0.574  0.297  0.332   1.4  10.2   5.8  16.9   0.7   0.1  11.2  23.3  4.3  1.0  5.3  0.099   1.7  -2.3 -0.6  0.9
4  Alexis Ajinca   C  25.0  NOP  56.0   951.0  14.6  0.589  0.004  0.269  11.3  22.7  16.9   6.6   1.3   4.1  18.4  16.3  1.2  0.9  2.1  0.104  -1.5   0.8 -0.7  0.3

In [42]:
# check for dupilcate entries 
player_dup_bool = df_1314.duplicated(subset = 'Player')

In [43]:
df_1314[player_dup_bool]

            Player Pos   Age   Tm    G    MP   PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM VORP
309  Tony Mitchell  SF  24.0  MIL  3.0  10.0  30.9  0.6   0.2  0.0  11.1   0.0   5.7  22.6   5.2   0.0   0.0  22.6  0.0  0.0  0.1  0.242   8.6  -2.1  6.5  0.0

In [44]:
# check for null values
df_1314[df_1314.isnull().any(axis=1)]

             Player  Pos   Age   Tm    G    MP  PER  TS%  3PAr  FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%   TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM VORP
90   Josh Childress   SF  30.0  NOP  4.0  24.0  3.9  NaN   NaN  NaN   0.0  14.7   7.3  10.7   2.2   0.0  100.0   1.9  0.0  0.0  0.0 -0.003  -6.2   2.0 -4.3  0.0
398     Chris Smith   PG  26.0  NYK  2.0   2.0  0.0  NaN   NaN  NaN   0.0   0.0   0.0   0.0   0.0   0.0    NaN   0.0  0.0  0.0  0.0 -0.020  -5.8  -0.5 -6.2  0.0
482             NaN  NaN   NaN  NaN  NaN   NaN  NaN  NaN   NaN  NaN   NaN   NaN   NaN   NaN   NaN   NaN    NaN   NaN  NaN  NaN  NaN    NaN   NaN   NaN  NaN  NaN

In [45]:
df_1314.drop(df_1314.index[[90, 309, 398, 482]], inplace = True)

In [46]:
df_1314.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [47]:
df_1314.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 479 entries, 0 to 481
Data columns (total 26 columns):
Player    479 non-null object
Pos       479 non-null object
Age       479 non-null float64
Tm        479 non-null object
G         479 non-null float64
MP        479 non-null float64
PER       479 non-null float64
TS%       479 non-null float64
3PAr      479 non-null float64
FTr       479 non-null float64
ORB%      479 non-null float64
DRB%      479 non-null float64
TRB%      479 non-null float64
AST%      479 non-null float64
STL%      479 non-null float64
BLK%      479 non-null float64
TOV%      479 non-null float64
USG%      479 non-null float64
OWS       479 non-null float64
DWS       479 non-null float64
WS        479 non-null float64
WS/48     479 non-null float64
OBPM      479 non-null float64
DBPM      479 non-null float64
BPM       479 non-null float64
VORP      479 non-null object
dtypes: float64(22), object(4)
memory usage: 101.0+ KB

## Combine all DataFrames into One

In [51]:
test_combine = pd.concat([df_1718, df_1617, df_1516, df_1415, df_1314], ignore_index = True)

test_combine.head(5)

          Player Pos   Age   Tm     G      MP   PER    TS%   3PAr    FTr  ORB%  DRB%  TRB%  AST%  STL%  BLK%  TOV%  USG%  OWS  DWS   WS  WS/48  OBPM  DBPM  BPM  VORP
0   Alex Abrines  SG  24.0  OKC  75.0  1134.0   9.0  0.567  0.759  0.158   2.5   8.9   5.6   3.4   1.7   0.6   7.4  12.7  1.3  1.0  2.2  0.094  -0.5  -1.7 -2.2  -0.1
1     Quincy Acy  PF  27.0  BRK  70.0  1359.0   8.2  0.525  0.800  0.164   3.1  17.1  10.0   6.0   1.2   1.6  13.3  14.4 -0.1  1.1  1.0  0.036  -2.0  -0.2 -2.2  -0.1
2   Steven Adams   C  24.0  OKC  76.0  2487.0  20.6  0.630  0.003  0.402  16.6  13.9  15.3   5.5   1.8   2.8  13.3  16.7  6.7  3.0  9.7  0.187   2.2   1.1  3.3   3.3
3    Bam Adebayo   C  20.0  MIA  69.0  1368.0  15.7  0.570  0.021  0.526   9.7  21.6  15.6  11.0   1.2   2.5  13.6  15.9  2.3  1.9  4.2  0.148  -1.6   1.8  0.2   0.8
4  Arron Afflalo  SG  32.0  ORL  53.0   682.0   5.8  0.516  0.432  0.160   0.6  10.1   5.3   6.2   0.3   1.1  10.8  12.5 -0.1  0.2  0.1  0.009  -4.1  -1.8 -5.8  -0.7

In [55]:
# see if rows of all dataframes added up are equal to combined dataframe
df_1718.shape[0] + df_1617.shape[0] + df_1516.shape[0] + df_1415.shape[0] + df_1314.shape[0] == test_combine.shape[0]

True

In [57]:
test_combine.isnull().sum()

Player    0
Pos       0
Age       0
Tm        0
G         0
MP        0
PER       0
TS%       0
3PAr      0
FTr       0
ORB%      0
DRB%      0
TRB%      0
AST%      0
STL%      0
BLK%      0
TOV%      0
USG%      0
OWS       0
DWS       0
WS        0
WS/48     0
OBPM      0
DBPM      0
BPM       0
VORP      0
dtype: int64

In [58]:
test_combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2466 entries, 0 to 2465
Data columns (total 26 columns):
Player    2466 non-null object
Pos       2466 non-null object
Age       2466 non-null float64
Tm        2466 non-null object
G         2466 non-null float64
MP        2466 non-null float64
PER       2466 non-null float64
TS%       2466 non-null float64
3PAr      2466 non-null float64
FTr       2466 non-null float64
ORB%      2466 non-null float64
DRB%      2466 non-null float64
TRB%      2466 non-null float64
AST%      2466 non-null float64
STL%      2466 non-null float64
BLK%      2466 non-null float64
TOV%      2466 non-null float64
USG%      2466 non-null float64
OWS       2466 non-null float64
DWS       2466 non-null float64
WS        2466 non-null float64
WS/48     2466 non-null float64
OBPM      2466 non-null float64
DBPM      2466 non-null float64
BPM       2466 non-null float64
VORP      2466 non-null object
dtypes: float64(22), object(4)
memory usage: 501.0+ KB

In [60]:
test_combine.describe()

               Age            G           MP          PER          TS%         3PAr          FTr         ORB%         DRB%         TRB%         AST%         STL%         BLK%         TOV%         USG%          OWS          DWS           WS        WS/48         OBPM         DBPM          BPM
count  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000  2466.000000
mean     26.424980    52.675994  1205.776967    13.038646     0.522030     0.296747     0.273445     5.105272    14.906488    10.012490    12.952636     1.574128     1.627007    13.294526    18.686821     1.319546     1.224209     2.544282     0.077234    -1.346188    -0.414396    -1.759935
std       4.257847    25.271765   852.879876     6.855648     0.098421     0.220581     0.237792     5.005366     6.775529     5.114389     9.348872     0.928776     1.729888     5.758187     5.403904     1.999257     1.120509     2.854840     0.112251     3.852099     2.282828     4.572154
min      19.000000     1.000000     1.000000   -41.100000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     0.000000     1.900000    -3.300000    -0.100000    -2.100000    -1.065000   -38.900000   -23.100000   -59.000000
25%      23.000000    32.000000   397.000000     9.900000     0.492000     0.086000     0.160000     1.900000    10.100000     6.200000     6.625000     1.100000     0.500000    10.000000    14.900000     0.000000     0.300000     0.300000     0.038000    -2.800000    -1.600000    -3.600000
50%      26.000000    61.000000  1165.000000    12.900000     0.532000     0.306000     0.239000     3.500000    13.800000     8.800000    10.000000     1.500000     1.100000    12.700000    18.100000     0.700000     0.900000     1.700000     0.082000    -1.100000    -0.400000    -1.400000
75%      29.000000    74.000000  1928.500000    16.100000     0.567000     0.451000     0.338750     7.600000    18.900000    13.100000    17.200000     2.000000     2.200000    15.800000    21.900000     2.075000     1.800000     3.800000     0.121000     0.300000     0.900000     0.500000
max      41.000000    83.000000  3125.000000   133.800000     1.500000     1.000000     6.000000   100.000000   100.000000    62.800000    78.500000    12.500000    26.300000    66.700000    47.800000    14.800000     6.600000    19.200000     2.712000    68.600000    17.100000    54.400000

Everything looks good to go! Time to export it and start some EDA!

In [61]:
test_combine.to_csv('Data/combined_individual_stats_clean.csv')